.button {
    text-decoration: none;
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
}

.button.primary {
    color: #fff;
    background: rgb(74, 102, 131);
    background: linear-gradient(0deg, #2e52a4 0%, #4a82c3 100%);
}
