.card {
    background: #fff;
    text-align: center;
    border-radius: .25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    padding: 0.25rem 1rem 2rem;
    position: relative;
    z-index: 1;
}

.card p {
    font-size: 1.15rem;
    margin-top: 0.5rem;
}

.card.sold-out p {
    color: rgba(0, 0, 0, 0.5);
}

.card.sold-out p.name {
    text-decoration: line-through;
}

.card .image {
    margin: .5rem;
    position: relative;
    z-index: 2;
}

.card .image>.sold-out {
    color: #fff;
    background: #d3a644;
    border-radius: 100%;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 1.5rem;
    font-size: 0.75rem;
}

.card .call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.card .call-to-action>.sold-out {
    display: none;
}

.card .star-rating {
    display: inline-block;
    font-size: 0.85rem;
    z-index: 0;
}

.card .swatches {
    text-align: center;
}

.card .swatches .swatch {
    width: 1.25rem;
    height: 1.25rem;
    background: #333;
    display: inline-block;
    margin-right: 0.5rem;
    cursor: pointer;
}

.card .swatches .swatch.selected {
    outline: 1px solid #333;
    outline-offset: 1px;
}

.card .swatches .swatch.blue {
    background: #424d68;
}

.card .swatches .swatch.grey {
    background: #b4b1ad;
}

.card .swatches .swatch.orange {
    background: #c26727;
}
