@import './button.css';
@import './card.css';
@import './star-rating.css';
body {
    background: #f2f2f2;
    color: #202020;
    font-family: 'Lato', sans-serif;
}

#card-container {
    margin: 1rem;
    width: 20rem;
}
