/* .star-rating {
  text-align: left;
}

.star-rating fieldset {
  border: none;
  padding: 0;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #333;
  text-indent: -2000em;
  display: inline-block;
  font-size: 1.2em;
  width: 1.2em;
}

.star-rating label:before {
  content: '★';
  position: relative;
  left: 2000em;
}

label.star-rating input:checked ~ label {
  color: #dddddd;
} */
